doctype html
html( lang='en' )
  head
    meta( name='viewport' content='width=device-width, initial-scale=1' )

    title JC Tiler | Dunedin tiling and waterproofing for kitchens and bathrooms

    meta( name='description' content='James Cordery - Dunedin based tiler and Mapei approved waterproofer with over 30 years of floor and wall tiling experience' )

    link( href='https://fonts.googleapis.com/css?family=Carter+One|Open+Sans' rel='stylesheet' )
    link( rel='shortcut icon' type='image/png' href=require('./images/favicon.png') )

    include includes/structured-data.pug

    if htmlWebpackPlugin.options.isDevServer
      script( src='/webpack-dev-server.js' )

  body
    header
      .container
        .row
          .col-xs-12
            h1.logo.pull-left JC Tiler
            a.phone-link( href='tel:+64212013102' )
              h2.contact.pull-right.text-center
                span.phone #[span.hidden-xs Phone] #[span.phone-number 021 201 3102]
                span.quote for free measure and quote

    main
      .container
        section.row
          .blurb
            .blurb-content.col-sm-8.col-xs-12
              p James Cordery &mdash; Dunedin based tiler specialising in kitchens, bathrooms, and waterproofing.
              p With over 30 years of floor and wall tiling experience, I deliver high quality workmanship and friendly, professional service.
              p Mapei approved waterproofer.

      .container
        aside.row
          .contact.clearfix
            .col-md-4.col-xs-12
              a.contact-facebook( href='https://www.facebook.com/James-Cordery-Tiler-1749786328635166' )
                img( src=require('./images/facebook-logo.svg') alt='Facebook logo' width='35' height='35' )
                span.link-text JC Tiler on #[br]Facebook
            .col-md-4.col-xs-12
              a.contact-builderscrack( href= 'https://builderscrack.co.nz/tradies/n3ti1uk/james-cordery-tiler' ) Customer reviews on #[br]builderscrack.co.nz
            .col-md-4.col-xs-12
              a.contact-email( href='mailto:jamescordery14@gmail.com' ) Contact by email #[br]jamescordery14@gmail.com

      .gallery-wrapper
        .container
          section.row
            .gallery.clearfix
              figure.gallery-item.col-sm-4.col-xs-6
                a( href=require('./images/gallery-1.jpg') data-size='800x600' )
                  picture
                    source( media='(max-width: 767px)' srcset=`${require('./images/gallery-1-xs.jpg')}, ${require('./images/gallery-1-xs@2x.jpg')} 2x` )
                    source( media='(max-width: 991px)' srcset=`${require('./images/gallery-1-sm.jpg')}, ${require('./images/gallery-1-sm@2x.jpg')} 2x` )
                    source( media='(max-width: 1199px)' srcset=`${require('./images/gallery-1-md.jpg')}, ${require('./images/gallery-1-md@2x.jpg')} 2x` )
                    source( media='(min-width: 1200px)' srcset=`${require('./images/gallery-1-lg.jpg')}, ${require('./images/gallery-1-lg@2x.jpg')} 2x` )
                    img( src=require('./images/gallery-1-xs.jpg') alt='Kitchen tiling' )

              figure.gallery-item.col-sm-4.col-xs-6
                a( href=require('./images/gallery-2.jpg') data-size='800x600' )
                  picture
                    source( media='(max-width: 767px)' srcset=`${require('./images/gallery-2-xs.jpg')}, ${require('./images/gallery-2-xs@2x.jpg')} 2x` )
                    source( media='(max-width: 991px)' srcset=`${require('./images/gallery-2-sm.jpg')}, ${require('./images/gallery-2-sm@2x.jpg')} 2x` )
                    source( media='(max-width: 1199px)' srcset=`${require('./images/gallery-2-md.jpg')}, ${require('./images/gallery-2-md@2x.jpg')} 2x` )
                    source( media='(min-width: 1200px)' srcset=`${require('./images/gallery-2-lg.jpg')}, ${require('./images/gallery-2-lg@2x.jpg')} 2x` )
                    img( src=require('./images/gallery-2-xs.jpg') alt='Exterior tiling' )

              figure.gallery-item.col-sm-4.col-xs-6
                a( href=require('./images/gallery-3.jpg') data-size='485x800' )
                  picture
                    source( media='(max-width: 767px)' srcset=`${require('./images/gallery-3-xs.jpg')}, ${require('./images/gallery-3-xs@2x.jpg')} 2x` )
                    source( media='(max-width: 991px)' srcset=`${require('./images/gallery-3-sm.jpg')}, ${require('./images/gallery-3-sm@2x.jpg')} 2x` )
                    source( media='(max-width: 1199px)' srcset=`${require('./images/gallery-3-md.jpg')}, ${require('./images/gallery-3-md@2x.jpg')} 2x` )
                    source( media='(min-width: 1200px)' srcset=`${require('./images/gallery-3-lg.jpg')}, ${require('./images/gallery-3-lg@2x.jpg')} 2x` )
                    img( src=require('./images/gallery-3-xs.jpg') alt='Bathroom tiling and waterproofing' )

              figure.gallery-item.col-sm-8.col-xs-6
                a( href=require('./images/gallery-4.jpg') data-size='800x452' )
                  picture
                    source( media='(max-width: 767px)' srcset=`${require('./images/gallery-4-xs.jpg')}, ${require('./images/gallery-4-xs@2x.jpg')} 2x` )
                    source( media='(max-width: 991px)' srcset=`${require('./images/gallery-4-sm.jpg')}, ${require('./images/gallery-4-sm@2x.jpg')} 2x` )
                    source( media='(max-width: 1199px)' srcset=`${require('./images/gallery-4-md.jpg')}, ${require('./images/gallery-4-md@2x.jpg')} 2x` )
                    source( media='(min-width: 1200px)' srcset=`${require('./images/gallery-4-lg.jpg')}, ${require('./images/gallery-4-lg@2x.jpg')} 2x` )
                    img( src=require('./images/gallery-4-xs.jpg') alt='Wet area shower tiling and waterproofing' )

    footer
      .container
        .row
          .col-xs-12
            small &copy; All rights reserved. James Cordery 2016.


    include includes/photoswipe.pug

    <!--[if IE]>
      script( src='https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js' )
    <![endif]-->
